# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LF-HEADER
!/LF-ONLY-HEADER
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle