# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/NOTICE
!/README.md
!/settings.gradle